.small-shadow {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  width: 150px;
  height: 335px;
  perspective: 500px;
  cursor: pointer;
  -webkit-text-size-adjust: none;
  /* -webkit-font-smoothing: subpixel-antialiased; */
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  transition: transform 0.66s;
  transform-style: preserve-3d;
}

.card-container:hover .content{
  transition: 0.66s;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container.card-active .content{
  transform: rotateY( 180deg );
  transition: 0.66s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 335px;
  background: white;
  text-align: center;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  transform: rotateY( 180deg );
}

.card-image {
  border-radius: 0.375rem 0.375rem 0px 0px;
  width: 148.6px;
  max-height: 100px;
  /* max-width: 148px; */
  /* filter: blur(0.5px);
  -webkit-filter: blur(0.5px); */
  /* filter: contrast(1.2) brightness(80%);
  opacity: 0.4; */
  /* -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.175);
  box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.15); */
}

.title-text {
  width: 100%;
  text-align: left;
  padding-left: 5px;
  display: inline-flex;
}

.list-chip-div {
  display: inline-flex;
}

.contribution-list {
  padding-left: 24px;
  margin-bottom: 10px;
  list-style-type: "- ";
}

.icon-list {
  padding-left: 10px;
  list-style: none;
}

.c-list-item,
.l-list-item {
  text-align: left;
  font-weight: normal;
}



.c-list-item::marker {
  font-weight: bold;
}

.descriptionText {
  text-align: left;
  margin-left: 5px;
  padding-right: 0.25px;
  font-size: 14px;
}

.l-list-item:hover {
  filter: invert(78%) sepia(32%) saturate(310%) hue-rotate(131deg) brightness(90%) contrast(90%);
}
